<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <th:block th:each="item : ${navItems}">
                <th:block th:if="${item.active}">
                    <li class="breadcrumb-item" aria-current="page" active>
                        <a th:text="${item.title}"></a>
                    </li>
                </th:block>
                <th:block th:unless="${item.active}">
                    <li class="breadcrumb-item">
                        <a th:href="${item.path}" th:text="${item.title}"></a>
                    </li>
                </th:block>
            </th:block>
        </ol>
    </nav>
</th:block>
</html>
