<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/frag_res :: css"/>
</head>
<body>
<div class="container">
    <h1 th:text="'Books for category(' + ${categoryId} + ')'"></h1>
    <th:block th:replace="fragments/frag_nav :: breadcrumb"/>
    <th:block th:if="${indexStatus.isRunning}">
        <p th:text="${indexStatus.statusMessage}"></p>
    </th:block>
    <form action="#" th:action="@{/categories/} + ${categoryId} + '/books'" th:object="${formEntitySearch}" method="get">
        <div>
            Search: <input type="text" th:field="*{keyword}"/>
            <span><input type="submit" value="Submit"/></span>
        </div>
    </form>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="book : ${books}">
                <tr>
                    <th scope="row" th:text="${book.id}"></th>
                    <td>
                        <a th:href="@{/categories/} + ${categoryId} + '/books/' + ${book.id}">
                            <span th:text="${book.title}"></span>
                        </a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>

<th:block th:replace="fragments/frag_res :: js"/>
</body>
</html>